.A1 {
  display: table;
  margin: auto;
}

.calculator {
  border-radius: 5px;
  background-color: black;
}

.calculator div {
  color: white;
}

.number {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 10px;
  text-align: right;
  box-sizing: border-box;
}

.number .n1 {
  font-size: x-large;
  padding-top: 20px;
  margin-bottom: 30px;
}

.number .n2 {
  font-size: xxx-large;
}

.buttons {
  padding: 10px;
}

.buttons div {
  display: flex;
  justify-content: center;
}

.buttons div button {
  width: 70px;
  height: 70px;
  margin: 3px;
  border: none;
  background-color: rgb(32, 32, 32);
  font-size: x-large;
  color: white;
  border-radius: 20px;
}

#s1 {
  color: gold;
}
